<a href="https://colab.research.google.com/github/erikitos/Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DIA 1

## Temario:
- Tipos de Datos
- Operaciones Matematicas
- Operaciones con String
- Operaciones Logicas
- Operaciones Booleanas

#Tipos de Datos

In [ ]:

# Existen los datos:
enteros = 4 # Son numeros sin decimales
flotantes = 99. # Son numeros con decimales
type(flotantes)

float

In [ ]:
# Caracteres/ Strings
caracteres ="a"
cadena_caracteres = "todas las letras que quieras"
type(cadena_caracteres)

str

In [ ]:
#Booleanos
falso= False # falso es 0
verdadero = True # verdadero es 1

In [ ]:
# imprimir
print(enteros)
print(flotantes)
print(caracteres)
print(cadena_caracteres)
print(falso)
print(verdadero)

4
99.0
a
todas las letras que quieras
False
True

# Espera,El usuario tambien puede ingresar datos

In [ ]:
# Con la funcion input, el usuario puede ingresar cualquier tipo de dato
# y podemos guardarlo en alguna variable
name = input("Mi nombre es: ") # te lo guarda como un string
print(name)

Mi nombre es: Erik
Erik

In [ ]:
num = int(input("Ingresa un numero:"))
print(num + 1)

Ingresa un numero:4
5

#### Operaciones Matematicas

In [3]:
# 4to Nivel de importancia
# Suma Ordinaria
print("Suma Ordinaria: ")
print(3 + 4) # un 7
variable1,variable2 = 20,40 #60
print(variable1 + variable2)


# Resta Ordinaria
print("Resta Ordinaria: ")
print(2-5) # -3
# Declaracion de variables
v1 = 10.4
v2 = 15
resultdo  = v2 - v1
print(resultdo)

Suma Ordinaria:
7
60
Resta Ordinaria:
-3
4.6

In [5]:
# 3r Nivel de importancia
# Multiplicacion Ordinaria
print("Multiplicacion Ordinaria: ")
M1, M2 = 2,3.14
print(M1 * M2) # 6.2
# Division Ordinaria
print("------------- ")
print("Division Ordinaria: ")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1 / M2)
print(M3 / M4 )
print(M5 / M6 )

# Divisi√≥n de Piso
print("------------- ")
print("Division de Piso: ")
print(M1 // M2)
print(M3 // M4 )
print(M5 // M6 )

Multiplicacion Ordinaria:
6.28
-------------
Division Ordinaria:
0.4
1.2
0.8
-------------
Division de Piso:
0
1
0

In [6]:
# Potencias
print("Potencias")
print(2 ** 3) # 8
P1,P2 = 7,2
print(P1 ** P2) # 49

Potencias
8
49

In [7]:
# Area de un circulo
pi = 3.14
r = 4
A = pi * (r ** 2)
print(A)

50.24

## Operacion con String

In [14]:
HM = "Hola Mundo"
print(HM)

a,b = "ta","co"
print(a + b)

print(a + "." + b)

Hola Mundo
taco
ta.co

In [17]:
# Animal, debe tener un nombre, le debe gustar una fruta , debe tener una profesion
Animal = "Chango"
Nombre = "filomeno"
Fruta = "Manzana"
Profesion = "Ingeniero"
print(f"Hola soy {Nombre} y soy un {Animal} ,me gusta la {Fruta}, y soy {Profesion}")

Hola soy filomeno y soy un Chango ,me gusta la Manzana, y soy Ingeniero

#Operaciones Logicas

In [25]:
# Empezamos con los operadores logicos <,>, ,<=,>= , and, or(SIEMPRE RETOMA UN BOOLEANO)
b1 = 4 > 5
b2 = 4 > 3
b3 = 14>14
b4 = 14>=14
print(b1)
print(b2)
print(b3)
print(b4)

False
True
False
True

In [26]:
#  Quieres un sandwich con todo
pan = True
queso = True
mayonesa = True
jamon = False
print(pan and queso and mayonesa and jamon)

False

In [27]:
print(True * 20)
print(False * 10)

20
0